@model IEnumerable<ExpenseTracker.Models.CategoryModel>


<div class="row my-4">
    <div class="col-md-12 d-flex justify-content-end">
        <a asp-action="Add" class="btn btn-warning mt-2"><i class="fa-solid fa-square-plus"></i>&nbsp;New Category</a>
    </div>
</div>

@*Data Grid*@
<div class="row mt-2">
    <div class="col-md-12">
        <div class="table-responsive-sm">
            <table class="table table-bordered table-hover" style="width:100%">
                <thead>
                    <tr>
                        <th class="text-center">Category</th>
                        <th class="text-center">Type</th>
                        <th class="text-center">Creation Date</th>
                        <th class="text-center">Note</th>
                        <th class="text-center">Priority</th>
                        <th class="text-center">Recurring</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        @foreach (var category in Model)
                        {
                            <tr>
                                <td class="text-center">@category.TitleWithIcon</td>
                                <td class="text-center">
                                    @if (category.Type == "Income")
                                    {
                                        <span class="badge bg-success">@category.Type</span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-danger">@category.Type</span>
                                    }
                                </td>
                                <td class="text-center">@category.CreationDate</td>
                                <td class="text-center">@category.Note</td>
                                <td class="text-center">
                                    @if (category.Priority == "High")
                                    {
                                        <span class="badge bg-danger">@category.Priority</span>
                                    }
                                    else if (category.Priority == "Medium")
                                    {
                                        <span class="badge bg-warning">@category.Priority</span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-success">@category.Priority</span>
                                    }
                                </td>
                                <td class="text-center">
                                    @if (category.Recurring == "1")
                                    {
                                        <p>Yes</p>
                                    }
                                    else
                                    {
                                        <p>No</p>
                                    }
                                    </td>
                                <td class="text-center">
                                    <form asp-action="Delete" asp-controller="Category" method="post">
                                        @Html.AntiForgeryToken()
                                        <input type="hidden" name="id" value="@category.CategoryId"/>
                                        <button type="submit" class="btn btn-danger mt-2" onclick="return confirm('Do you want to delete this record?');">
                                            <i class="fa-solid fa-trash-can"></i> &nbsp;Delete
                                        </button>
                                    </form>
                                    <a asp-action="Edit" asp-route-id="@category.CategoryId">
                                        <button type="submit" class="btn btn-warning mt-2">
                                            <i class="fa-solid fa-pen"></i> &nbsp;Edit
                                        </button>
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="3" class="text-center">No categories available.</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
