@model ExpenseTracker.ViewModel.LoginRegisterCombined
@{
}

<section class="wrapper">
    <div class="form signup">
        <header>Login</header>
        <form id="account-login" asp-action="Login" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3 text-black">
                <input asp-for="@Model.LoginModel.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com"/>
                <label asp-for="@Model.LoginModel.Email" class="form-label">Email Address <i style="display: inline-flex" class="fa-solid fa-envelope"></i></label>
                <span asp-validation-for="@Model.LoginModel.Email" class="text-danger"></span>
               
            </div>
            <div class="form-floating mb-3 text-black">
                <input asp-for="@Model.LoginModel.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password"/>
                <label asp-for="@Model.LoginModel.Password" class="form-label">Password <i class="fa-solid fa-key"></i> </label>
                <span asp-validation-for="@Model.LoginModel.Password" class="text-danger"></span>
            </div>
            <div class="row justify-content-center">
                @* <div class="col-md-6">
                    <div class="checkbox mb-3 justify-content">
                        <label asp-for="@Model.LoginModel.RememberMe" class="form-label" style="color: black">
                            <input class="form-check-input" asp-for="@Model.LoginModel.RememberMe" />
                            @Html.DisplayNameFor(m => m.@Model.LoginModel.RememberMe)
                        </label>
                    </div>
                </div> *@
                <div class="col-md-6">
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-warning">Login</button>
                </div>
            </div>
        </form>
    </div>
    <div class="form login">
        <header>Register</header>
        <form id="account-register" asp-action="Register" method="post">
            <h4 class="text-center align-content-center">Here you can create a new account</h4>
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="@Model.RegisterModel.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="@Model.RegisterModel.Email">Email</label>
                <span asp-validation-for="@Model.RegisterModel.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="@Model.RegisterModel.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="@Model.RegisterModel.Password">Password</label>
                <span asp-validation-for="@Model.RegisterModel.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="@Model.RegisterModel.PasswordConfirmation" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="@Model.RegisterModel.PasswordConfirmation">Confirm Password</label>
                <span asp-validation-for="@Model.RegisterModel.PasswordConfirmation" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-warning">Register</button>
        </form>
    </div>
    <script>
        const wrapper = document.querySelector(".wrapper"),
          signupHeader = document.querySelector(".signup header"),
          loginHeader = document.querySelector(".login header");
        loginHeader.addEventListener("click", () => {
          wrapper.classList.add("active");
        });
        signupHeader.addEventListener("click", () => {
          wrapper.classList.remove("active");
        });
      </script>
</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}